/**
*
*   Monash University
*   Forms (Integrated styles for Marketo Forms)
*
*   Developed by Jeremy Hewitt
*   2016
*
**/





/*
    Base styles
*/

input[type=submit],
input[type=button],
input[type=reset],
button {
    -webkit-appearance: none;
    -moz-appearance: none;
}

form label {
    display: block;
}

.mktoAsterix {
    padding: 0 .5em 0 0;
    color: #ff0000;
}

.mktoAsterix,
input[type=checkbox]+label {
    display: inline-block;
}

.mktoError {
    position: absolute;
    right: initial !important;
    bottom: initial !important;
}

form label,
.mktoClear {
    padding: .25em;
}

input,
select,
textarea {
    font-size: 1.2em;
}

input[type=text],
input[type=number],
input[type=tel],
input[type=email],
textarea {
    padding: .5em;
    resize: none;
    border: 1px solid #ddd;
}

textarea {
    min-width: 20em;
    min-height: 6em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label:before {
    color: #ddd;
}

input[type=checkbox]+label:before,
input[type=checkbox]:checked+label:before {
    -webkit-text-stroke-width: 0 !important;
    font-size: 1.45em !important;
    line-height: 1rem;
    content: "\f111";
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    text-rendering: auto;
    vertical-align: middle;
    margin: 0 .35em 0 0;
}

input[type=checkbox]:checked+label:before {
    content: "\f058";
}