/**
*
*   Monash University
*   Bootstrap
*
*   Developed by Jeremy Hewitt
*   2016
*
**/





/*
    Base styles
*/

body,
ul.no-list,
ul.no-list > li {
    margin: 0;
    padding: 0;
}

body,
input,
select,
textarea,
input[type=submit],
input[type=button],
input[type=reset],
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
}

body {
    overflow-x: hidden;
}

strong, b {
    font-weight: 600;
}


/**** Page Boundaries */

.master-wrap {
    width: 72.5em;
    margin: 0 auto;
    max-width: 98%;
}

.initial {
    width: initial;
    max-width: initial;
}


/**** Text Links */

a {
/*    text-decoration: none; */
}

a:hover,
a:focus {
    text-decoration: underline;
}

a.no-underline,
a.no-underline:hover, 
a.no-underline:focus,
a.call-to-action,
a.call-to-action:hover,
a.call-to-action:focus {
    text-decoration: none;
}

a.underline {
    text-decoration: underline;
}


/**** Cursors */

.pointer,
input[type=submit],
input[type=button],
input[type=reset],
button,
a {
    cursor: pointer;
}

.drag {
    cursor: move;
}

.grab {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabbing {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


/**** Hidden/Unhidden Content */

.edit-interface,
.hidden,
.tablet-only,
.mobile-only,
.no-desktop,
.stick-to-header.stuck,
header .stick-to-header,
.stick-to-header-placeholder + .stick-to-header-placeholder {
    display: none;
}

.unhidden,
.stick-to-header.stuck:last-child,
header .stick-to-header:last-child {
    display: block;
}

.almost-transparent,
a.disabled {
    opacity: .25;
}

.semi-transparent {
    opacity: .65;
}

.semi-opaque {
    opacity: .75;
}

.almost-opaque {
    opacity: .9;
}

.transparent,
.only-if-active,
.load-in-ani > * {
    opacity: 0;
}

.opaque,
.active .only-if-active,
.transparent:hover,
input:checked+span .semi-transparent.icon {
    opacity: 1;
}

.voice {
    left: -9999em;
}

.no-click {
    pointer-events: none;
}


/*
    Positions
*/

.absolute,
.voice {
    position: absolute;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.relative,
.temp-relative {
    position: relative;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.fixed {
    position: fixed;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.static {
    position: static;
}


/**** Layers */

.layer-0,
.absolute {
    z-index: 0
}

.layer-1,
.fixed {
    z-index: 1
}

.top-layer {
    z-index: 9999
}


/**** Position Points */

.top {
    top: 0;
}

.top-50 {
    top: 50%;
}

.top-100 {
    top: 100%;
}

.right {
    right: 0;
}

.bottom {
    bottom: 0;
}

.left,
a.voice:focus {
    left: 0;
}

.left-15 {
    left: 15%;
}

.translate-left-15 {
    transform: translate(15%,0);
}

.left-25 {
    left: 25%;
}

.left-33 {
    left: 33%;
}

.left-50 {
    left: 50%;
}

.left-66 {
    left: 66%;
}

.left-100 {
    left: 100%;
}



/**** Displays */

.inline-block,
.sticky-nav-tracks .list-menu > li,
.call-to-action {
    display: inline-block;
    vertical-align: top;
}

.block,
.list-menu > li,
input:checked + span .selected-field-indicator {
    display: block;
}

.middle {
    vertical-align: middle;
}


/**** Floats */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.clear {
    clear: both;
}

/**** Flex */

.flex-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-end {
    align-self: flex-end;
}


/**** Overflows */

.no-wrap {
    white-space: nowrap;
}

.wrap {
    white-space: normal;
}

.no-overflow,
.temp-no-overflow,
.no-width,
.width-0,
.no-height,
.height-0 {
    overflow: hidden;
}

body,
.overflow-auto {
    overflow-x: hidden;
    overflow-y: auto;
}

.overflow-scroll {
    overflow-x: hidden;
    overflow-y: scroll;
}

.overflow-initial,
.standard-horizontal-sly {
    overflow: initial !important;
}

.full-width-sly {
    overflow: hidden !important;
}

/* Bug fix for Chrome offset issue with jQuery.UI.Sortable lists */
.child-list.ui-sortable {
    overflow: auto;
}


/*
    Widths & Heights
*/

.full-width,
.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.most-width,
.width-85 {
    width: 85%;
}

.width-80 {
    width: 80%;
}

.max-width-75 {
    max-width: 75%;
}

.two-thirds-width,
.width-66,
.modal {
    width: 66%;
}

.width-80 {
    width: 80%;
}

.half-width,
.width-50 {
    width: 50%;
}

.third-width,
.width-33 {
    width: 33.33%;
}

.quarter-width,
.width-25 {
    width: 25%;
}

.width-20 {
    width: 20%;
}

.column-width,
.width-15 {
    width: 15%;
}

.width-10 {
    width: 10%;
}

.width-5 {
    width: 5%;
}

.no-width,
.width-0 {
    width: 0;
}

.full-height,
.height-100 {
    height: 100%;
}

.half-height,
.height-50 {
    height: 50%;
}

.no-height,
.height-0 {
    height: 0;
}

/*
    Tables
*/

table {
    border-collapse: collapse;
}

th,
td {
    padding: .5em;
    vertical-align: top;
}





/*
    Fonts
*/

.sans,
a.call-to-action,
table {
    font-family: 'Roboto', sans-serif;
}

.serif,
h1,
h2 {
    font-family: "Century Schoolbook", Georgia, "Times New Roman", Times, serif;
    letter-spacing: 1px;
}

.system {
    font-family: sans-serif;
}

.promo,
.list-menu-item,
thead,
h2:not(.large-headline) {
    font-family: 'Roboto Condensed', Arial Narrow, sans-serif;
}

.modern-sans {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.promo,
.uppercase,
h2:not(.large-headline) {
    text-transform: uppercase;
}


/**** Font Styles */

.italic {
    font-style: italic;
}

.thin,
h1,
.serif,
h2 {
    font-weight: 200;
}

.regular {
    font-weight: 300;
}

.medium,
.list-menu-item {
    font-weight: 500;
}

.bold,
a.call-to-action,
.mktoLabel.mktoHasWidth,
input[type=submit],
input[type=button],
input[type=reset],
button {
    font-weight: 700;
}

.heavy {
    font-weight: 900;
}


/**** Text Formatting */

.align-right {
    text-align: right;
}

.align-left,
thead {
    text-align: left;
}

.center, .circle {
    text-align: center;
}

.columns-two {
    column-count: 2;
    column-gap: 4.5em;
    -moz-column-count: 2;
    -moz-column-gap: 4.5em;
    -webkit-column-count: 2;
    -webkit-column-gap: 4.5em;
}

.columns-three {
    column-count: 3;
    column-gap: 0;
    -moz-column-count: 3;
    -moz-column-gap: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0;
}

ul.columns-two > li,
ul.columns-three > li,
ul.columns-two > p,
ul.columns-three > p {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.columns-two p:first-child,
.columns-three p:first-child {
/*    margin-top: 0; */
}


/**** Font Sizes */

.smaller,
.mktoErrorMsg {
    font-size: .75em;
    line-height: 1.1em;
}

.small,
th,
td {
    font-size: .89em;
    line-height: 1.25em;
}

.large {
    font-size: 1.2em;
    line-height: 1.2em;
}

.larger {
    font-size: 1.4em;
    line-height: 1.3em;
}

.largerer {
    font-size: 1.8em;
    line-height: 1.35em;
}

.headline {
    font-size: 2.1em;
    line-height: 1em;
}

.large-headline,
h1 {
    font-size: 2.8em;
    line-height: 1.2em;
}

.giant-headline {
    font-size: 4.05em;
    line-height: 1em;
}

.no-line-height {
    line-height: 0;
}





/*
    Margins & Padding
*/

.tiny-padding {
    padding: 2px;
}

.small-padding,
.mktoErrorMsg {
    padding: .5em;
}

.padding {
    padding: 1em;
}

.button-padding,
a.call-to-action,
input[type=submit],
input[type=button],
input[type=reset],
button {
    padding: 1em 2em;
}

.large-padding {
    padding: 1.5em;
}

.extra-large-padding {
    padding: 2em;
}

.tall-padding {
    padding: 4em 0;
}

.large-sides,
a.call-to-action {
    padding-left: 2em;
    padding-right: 2em;
}

.vertical-padding,
h1,
h2,
h3,
h4,
h5 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

p+h2,
p+h3 {
    padding-top: 1.5em;
}

.horizontal-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.margin-top,
ul.no-list > li.margin-top {
    margin-top: 1em;
}

.margin-bottom,
ul.no-list > li.margin-bottom {
    margin-bottom: 1em;
}

.large-margin-top,
ul.no-list > li.large-margin-top {
    margin-top: 2em;
}

.large-margin-bottom,
ul.no-list > li.large-margin-bottom {
    margin-bottom: 2em;
}





/**** Lists */

.row-list-thumbnail {
    height: 4em;
}

.column-list-thumbnail {
    height: 12.5em;
}

.tile .column-list-thumbnail {
    height: 11em;
}

.tile.width-33 .column-list-thumbnail {
    height: 15em;
}

.tile.width-50 .column-list-thumbnail {
    height: 18em;
}




/**** Menus */

.drop-down-menu .list-menu > li > a {
    line-height: 1.5em;
/*    border-top: 1px solid #f6f6f6; */
}

.pop-up-description {
    transform: translate3d(0em,20em,0px);
}

.drop-down-menu.unrendered-menu {
    transform: translate3d(0em,-2em,0px) scale(1.1);
}



/**** Margins */

.no-margin,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.sup {
    margin-top: -.5em;
}

.sub {
    margin-bottom: -.5em;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}


/**** Borders */

.border-top {
    border-top: 1px solid;
}

.border-bottom {
    border-bottom: 1px solid;
}

.no-border,
input[type=submit],
input[type=button],
input[type=reset],
button,
iframe {
    border: none;
}

.no-outline,
.no-outline:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus {
    outline: none;
}

.border, .outline {
    border: 1px solid;
}

.stroke {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    -moz-text-stroke-width: 1px;
    -moz-text-stroke-color: #fff;
}

.small-round-corners,
.call-to-action,
input[type=submit],
input[type=button],
input[type=reset],
button {
    border-radius: 2px;
}

.large-round-corners {
    border-radius: .25em;
}

.no-rounding-top-right { 
    border-top-right-radius: 0;
}
.no-rounding-top-left {
    border-top-left-radius: 0;
}
.no-rounding-bottom-right {
    border-bottom-right-radius: 0;
}
.no-rounding-bottom-left {
    border-bottom-left-radius: 0;
}





/*
    Lists
*/

ul.no-list > li {
    list-style: none;
}





/*
    Icons
*/

p span+i.fa,
p i.fa+span,
a span+i.fa,
a i.fa+span {
    padding-left: .5em;
}

.fa-spin {
    line-height: 1em;
}





/*
    Animation, transformation & Hardware Acceleration
*/

.use-hardware,
.short-transition,
.secondary-ui,
.transition,
.medium-transition,
.long-transition,
.extra-long-transition,
.load-in-ani > * {
    will-change: transform;
    transform: translateZ(0);
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.short-transition,
.secondary-ui {
    transition: .15s cubic-bezier(.415,.645,0,.980);
    -webkit-transition: .15s cubic-bezier(.415,.645,0,.980);
    -moz-transition: .15s cubic-bezier(.415,.645,0,.980);
}

.transition {
    transition: .3s cubic-bezier(.415,.645,0,.980);
    -webkit-transition: .3s cubic-bezier(.415,.645,0,.980);
    -moz-transition: .3s cubic-bezier(.415,.645,0,.980);
}

.medium-transition {
    transition: .5s cubic-bezier(.415,.645,0,.980);
    -webkit-transition: .5s cubic-bezier(.415,.645,0,.980);
    -moz-transition: .5s cubic-bezier(.415,.645,0,.980);
}

.long-transition {
    transition: 1s cubic-bezier(.415,.645,0,.980);
    -webkit-transition: 1s cubic-bezier(.415,.645,0,.980);
    -moz-transition: 1s cubic-bezier(.415,.645,0,.980);
}

.extra-long-transition {
    transition: 2s cubic-bezier(.415,.645,0,.980);
    -webkit-transition: 2s cubic-bezier(.415,.645,0,.980);
    -moz-transition: 2s cubic-bezier(.415,.645,0,.980);
}

.basic-transition {
    transition: .45s;
    -webkit-transition: .45s;
    -moz-transition: .45s;
}

.rotate-45 {
    transform: rotate(45deg);
}

.rotate--45 {
    transform: rotate(-45deg);
}

.blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
}

.strong-blur {
    filter: blur(8px) brightness(1.5);
    -webkit-filter: blur(8px) brightness(1.5);
    -moz-filter: blur(8px) brightness(1.5);
}

.scale-0 {
    transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
}

.scale-1,
input:checked + span .selected-field-indicator {
    transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
}





/*
    Sly
*/

ul.no-list.pages-nav {
    padding: 0 .5em;
}

ul.no-list.pages-nav li {
    width: 1em;
    height: 1em;
    border-radius: 1em;
    border: 1px solid #fff;
    margin: 1em .5em;
}

ul.no-list.pages-nav li.active {
    background-color: #fff
}

li.active .background-image.cover {
    transform: scale(1.2) translate3d(-8%,0px,0px);
    -webkit-transform: scale(1.2) translate3d(-8%,0px,0px);
    -moz-transform: scale(1.2) translate3d(-8%,0px,0px);
    -ms-transform: scale(1.2) translate3d(-8%,0px,0px);
}

.full-width-sly li .big-m {
    opacity: .7;
}

.full-width-sly li.active .big-m {
    opacity: .725;
}

.sly-left-controls {
    transform: translate3d(-20em,0px,0px);
}

.sly-right-controls {
    transform: translate3d(20em,0px,0px);
}

.asset:hover .sly-left-controls,
.asset:hover .sly-right-controls {
    transform: translate3d(0em,0px,0px);
}

.sly-right-controls a.sly-next,
.sly-left-controls a.sly-prev {
    box-shadow: 0 0 1px #fff;
}

.pop-up-description {
    transform: translate3d(0em,20em,0px);
}

li:hover .pop-up-description {
    transform: translate3d(0em,0px,0px);
}


/*
    Images
*/

.background-image,
.icon {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.icon {
    background-size: auto;
}

.cover {
    background-size: cover;
}

.attach {
    background-attachment: fixed;
}

.site-logo {
    width: 14em;
    height: 5.5em;
}

.site-logo .monash-shield {
    width: 26%;
    height: 100%;
    margin-right: 3%;
}

.site-logo .logo-text {
    width: 60%;
    height: 100%;
    background-position-y: 40%;
    background-position-x: 0px !important;
}

.gallery-item {
    max-width: 35em;
}

.gallery-item img {
    height: 24em;
    margin-left: -50%;
    left: 25%;
    width: auto;
}




/*
    Embed
*/

iframe.full-screen-video {
    width: 100%;
    height: 44em;
}

iframe.full-size-map {
    width: 100%;
    height: 33em;
}

p > iframe {
    width: 100%;
    height: 28em;
}

.width-66 p > iframe {
    width: 100%;
    height: 19em;
}

.width-50 p > iframe,
.columns-two p > iframe {
    height: 14em;
}

.width-33 p > iframe,
.columns-three p > iframe {
    height: 9em;
}




/*
    Modals
*/

.modal {
    margin-left: 50%;
    left: -33%;
}

.modal-content {
    height: 35em;
}





/*
    Backgrounds
*/

.blue-background,
.white-background .inherit-background {
    background-color: #006dae;
}

.white li > a:focus,
.white li > a:hover,
.white p > a:focus,
.white p > a:hover,
.white strong > a:focus,
.white strong > a:hover,
.white em > a:focus,
.white em > a:hover,
.white-background,
.white-background .inherit-background {
    background-color: #fff;
}

.off-white-background,
.black thead {
    background-color: #f6f6f6;
}

.grey-background {
    background-color: #aaa;
}

.black-background,
.black-background .inherit-background {
    background-color: #231f20;
}

.solid-black-background,
.white thead {
    background-color: #201e24;
}

.trans-black-background,
.trans-black-background .inherit-background {
    background-color: rgba(0,0,0,.9);
}

.trans-black-gradient-background {
    background: linear-gradient(rgba(0,0,0,0) -40%,rgba(0,0,0,0.8) 25%);
    background: -webkit-linear-gradient(rgba(0,0,0,0) -40%,rgba(0,0,0,0.8) 25%);
    background: -moz-linear-gradient(rgba(0,0,0,0) -40%,rgba(0,0,0,0.8) 25%);
}

.semi-trans-black-background {
    background-color: rgba(0,0,0,.75);
}

.almost-trans-black-background {
    background-color: rgba(0,0,0,.2);
}

.trans-white-background,
.trans-white-background .inherit-background {
    background-color: rgba(255,255,255,.9);
}

.trans-white-gradient-background {
    background: linear-gradient(rgba(255,255,255,0) -40%,rgba(255,255,255,0.75) 25%);
    background: -webkit-linear-gradient(rgba(255,255,255,0) -40%,rgba(255,255,255,0.75) 25%);
    background: -moz-linear-gradient(rgba(255,255,255,0) -40%,rgba(255,255,255,0.75) 25%);
}

.semi-trans-white-background {
    background-color: rgba(255,255,255,.75);
}

.almost-trans-white-background {
    background-color: rgba(255,255,255,.3);
}

.trans-blue-background,
.trans-blue-background .inherit-background {
    background-color: rgba(0,109,174,.9);
}

.semi-trans-blue-background {
    background-color: rgba(0,109,174,.65);
}

.almost-trans-blue-background {
    background-color: rgba(0,109,174,.3);
}

.trans-blue-gradient-background {
    background: linear-gradient(rgba(255,255,255,0) -40%,rgba(0,109,174,.9) 25%);
    background: -webkit-linear-gradient(rgba(255,255,255,0) -40%,rgba(0,109,174,.9) 25%);
    background: -moz-linear-gradient(rgba(255,255,255,0) -40%,rgba(0,109,174,.9) 25%);
}

.no-background {
    background-color: transparent !important;
}

.background-video {
    -webkit-transform: translateX(-50%) translateY(-50%) !important;
    -moz-transform: translateX(-50%) translateY(-50%) !important;
    transform: translateX(-50%) translateY(-50%) !important;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

a.playing .play-video-icon,
a.paused .pause-video-icon {
    display: none;
}






/*
    Colour
*/

.white, 
.white p,
.white li,
.white li > a,
.white p > a,
.white strong > a,
.white em > a {
    color: #fff;
}

.white li > a,
.white p > a {
    text-decoration: underline;
}

.white li > a:focus,
.white li > a:hover,
.white p > a:focus,
.white p > a:hover,
.white strong > a:focus,
.white strong > a:hover,
.white em > a:focus,
.white em > a:hover,
.black {
    color: #000;
}

.grey {
    color: #ccc;
}

        /*
            Pop Colours
        */

        .trim,
        .breadcrumbs a:last-child,
        .secondary.trim {
            background-color: #187ff1;
            border-color: #187ff1;
            color: #fff;
        }

        .untrim, a {
            color: #187ff1;
            -webkit-text-stroke-color: #187ff1;
        }


        /* Blue */

        .trim-Blue .trim,
        div > .trim.trim-Blue,
        .asset.trim-Blue .trim {
            background-color: #006ada;
            border-color: #006ada;
            color: #fff;
        }

        .trim-Blue .untrim,
        .asset.trim-Blue .untrim,
        div > .untrim.untrim-Blue {
            color: #187ff1;
        }

        .trim-Blue .stroke,
        .trim- .stroke,
        .asset.trim-Blue .stroke {
            -webkit-text-stroke-color: #187ff1;
        }


        /* Purple */

        .trim-Purple .trim,
        div > .trim.trim-Purple,
        .asset.trim-Purple .trim {
            background-color: #720bff;
            border-color: #720bff;
            color: #fff;
        }

        .trim-Purple .untrim,
        .asset.trim-Purple .untrim,
        div > .untrim.untrim-Purple {
            color: #720bff;
        }

        .trim-Purple .stroke,
        .asset.trim-Purple .stroke {
            -webkit-text-stroke-color: #720bff;
        }


        /* Red */

        .trim-Red .trim,
        div > .trim.trim-Red,
        .asset.trim-Red .trim {
            background-color: #e0002e;
            border-color: #e0002e;
            color: #fff;
        }

        .trim-Red .untrim,
        .asset.trim-Red .untrim,
        div > .untrim.untrim-Red {
            color: #e0002e;
        }

        .trim-Red .stroke,
        .asset.trim-Red .stroke {
            -webkit-text-stroke-color: #e0002e;
        }


        /* Green */

        .trim-Green .trim,
        div > .trim.trim-Green,
        .asset.trim-Green .trim {
            background-color: #0c8f49;
            border-color: #0c8f49;
            color: #fff;
        }

        .trim-Green .untrim,
        .asset.trim-Green .untrim,
        div > .untrim.untrim-Green {
            color: #0c8f49;
        }

        .trim-Green .stroke,
        .asset.trim-Green .stroke {
            -webkit-text-stroke-color: #0c8f49;
        }


        /* Pink */

        .trim-Pink .trim,
        div > .trim.trim-Pink,
        .asset.trim-Pink .trim {
            background-color: #ff1952;
            border-color: #ff1952;
            color: #fff;
        }

        .trim-Pink .untrim,
        .asset.trim-Pink .untrim,
        div > .untrim.untrim-Pink {
            color: #ff1952;
        }

        .trim-Pink .stroke,
        .asset.trim-Pink .stroke {
            -webkit-text-stroke-color: #ff1952;
        }


        /* Black */

        .trim-Black .trim,
        div > .trim.trim-Black,
        .asset.trim-Black .trim {
            background-color: #353535;
            border-color: #353535;
            color: #fff;
        }

        .trim-Black .untrim,
        .asset.trim-Black .untrim,
        div > .untrim.untrim-Black {
            color: #353535;
        }

        .trim-Black .stroke,
        .asset.trim-Black .stroke {
            -webkit-text-stroke-color: #353535;
        }


        /* Fuscia */

        .trim-Fuscia .trim,
        div > .trim.trim-Fuscia,
        .asset.trim-Fuscia .trim {
            background-color: #e31457;
            border-color: #e31457;
            color: #fff;
        }

        .trim-Fuscia .untrim,
        .asset.trim-Fuscia .untrim,
        div > .untrim.untrim-Fuscia {
            color: #e31457;
        }

        .trim-Fuscia .stroke,
        .asset.trim-Fuscia .stroke {
            -webkit-text-stroke-color: #e31457;
        }


        /* Orange */

        .trim-Orange .trim,
        div > .trim.trim-Orange,
        .asset.trim-Orange .trim {
            background-color: #ff3605;
            border-color: #ff3605;
            color: #fff;
        }

        .trim-Orange .untrim,
        .asset.trim-Orange .untrim,
        div > .untrim.untrim-Orange {
            color: #ff3605;
        }

        .trim-Orange .stroke,
        .asset.trim-Orange .stroke {
            -webkit-text-stroke-color: #ff3605;
        }


        /* Olive */

        .trim-Olive .trim,
        div > .trim.trim-Olive,
        .asset.trim-Olive .trim {
            background-color: #7f9f36;
            border-color: #7f9f36;
            color: #fff;
        }

        .trim-Olive .untrim,
        .asset.trim-Olive .untrim,
        div > .untrim.untrim-Olive {
            color: #7f9f36;
        }

        .trim-Olive .stroke,
        .asset.trim-Olive .stroke {
            -webkit-text-stroke-color: #7f9f36;
        }


        /* Umber */

        .trim-Umber .trim,
        div > .trim.trim-Umber,
        .asset.trim-Umber .trim {
            background-color: #8d4530;
            border-color: #8d4530;
            color: #fff;
        }

        .trim-Umber .untrim,
        .asset.trim-Umber .untrim,
        div > .untrim.untrim-Umber {
            color: #8d4530;
        }

        .trim-Umber .stroke,
        .asset.trim-Umber .stroke {
            -webkit-text-stroke-color: #8d4530;
        }


        /* Ruby */

        .trim-Ruby .trim,
        div > .trim.trim-Ruby,
        .asset.trim-Ruby .trim {
            background-color: #e00073;
            border-color: #e00073;
            color: #fff;
        }

        .trim-Ruby .untrim,
        .asset.trim-Ruby .untrim,
        div > .untrim.untrim-Ruby {
            color: #e00073;
        }

        .trim-Ruby .stroke,
        .asset.trim-Ruby .stroke {
            -webkit-text-stroke-color: #e00073;
        }

        /* Monash Blue */

        .blue-background,
        .asset.blue-background .untrim,
        .asset.blue-background .default-untrim {
            color: #fff;
        }

        .blue-background .stroke,
        .asset.blue-background .stroke {
            -webkit-text-stroke-color: #fff;
        }

        .asset.blue-background .trim,
        .blue-background .default-trim,
        .blue-background a.default-trim {
            background-color: #fff;
        }

        .asset.blue-background a.trim,
        .blue-background .default-trim,
        .blue-background a.default-trim,
        .blue-background .white-background .untrim,
        .blue-background .white-background .default-untrim {
            color: #006dae;
        }

label:hover input[type=radio]+span {
    background-color: #ddd;
}

.default-trim,
a.trans-black-background:not(.disabled):hover,
a.trans-black-background:not(.disabled):focus,
a.white-background:focus,
a.white-background:hover,
a.black-background:focus,
a.black-background:hover,
.outline-shadow:hover > a,
input[type=radio]:checked+span,
label:hover input[type=radio]:checked+span,
input[type=radio]:checked+span .semi-trans-black-background,
a.default-untrim:hover,
a.default-untrim:focus,
.mktoErrorMsg {
    background-color: #0d74e6;
    color: #fff;
}

a.default-trim:hover,
a.default-trim:focus,
a.trim:hover,
a.trim:focus,
.blue-background a.default-trim:hover, 
.blue-background a.default-trim:focus,
.blue-background a.trim:hover,
.blue-background a.trim:focus {
    background-color: #222 !important;
    color: #fff !important;
}

.default-untrim {
    background-color: #fff;
}

.default-untrim,
input[type=checkbox]:checked+label:before {
    color: #0d74e6;
}

a.call-to-action.trim,
.call-to-action-color.trim,
input[type=submit],
input[type=button],
input[type=reset],
button {
    /* background-color: #08A22A; Not accessible contrast */
    background-color: #008a1f;
    color: #fff;
}

a.call-to-action.untrim,
.call-to-action-color.untrim {
    color: #008a1f;
}

a.call-to-action.trim:hover,
a.call-to-action.trim:focus,
.call-to-action-color.trim:hover,
.call-to-action-color.trim:focus,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
button:hover,
input[type=submit]:focus,
input[type=button]:focus,
input[type=reset]:focus,
button:focus {
    background-color: #0EC737;
}

a.inherit {
    color: inherit;
}

.over-saturate {
    filter: saturate(35) brightness(1.25) hue-rotate(180deg);
    -webkit-filter: saturate(35) brightness(1.25) hue-rotate(180deg);
    -moz-filter: saturate(35) brightness(1.25) hue-rotate(180deg);
    -ms-filter: saturate(35) brightness(1.25) hue-rotate(180deg);
}



/*
    Buttons
*/

a.call-to-action {
    box-shadow: 0 2px 0px rgba(0,0,0,.175);
}





/*
    Shadows
*/

.box-shadow {
    box-shadow: 0 .25em 1em rgba(0,0,0,.3);
}

.outline-shadow {
    box-shadow: 0 0 1px rgba(0,0,0,.2), 0 0 4px rgba(0,0,0,.125);
}

.outline-shadow:hover {
    box-shadow: 0 0 1px rgba(0,0,0,.5), 0 0 4px rgba(0,0,0,.35);
}

.text-shadow {
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}


/*
    Circles and squares
*/

.circle {
    width: 3em;
    padding: .9em 0;
    border-radius: 5em;
}

.circle > * {
    display: inline;
}

.square {
    width: 1.5em;
    height: 1.5em;
}

.calendar-item {
    width: 7.5em;
}











/* Firefox Fixes */

@-moz-document url-prefix() {
    .absolute,
    .relative,
    .background-image.fixed {
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: transform;
    }
    .background-image.fixed {
        position: absolute;
        background-attachment: fixed;
    }
    
    /*
        Pop Colours
    */

    /* Blue */

    .trim-Blue .stroke,
    .asset.trim-Blue .stroke {
        color: #187ff1;
    }


    /* Purple */

    .trim-Purple .stroke,
    .asset.trim-Purple .stroke {
        color: #720bff;
    }


    /* Red */

    .trim-Red .stroke,
    .asset.trim-Red .stroke {
        color: #e0002e;
    }


    /* Green */

    .trim-Green .stroke,
    .asset.trim-Green .stroke {
        color: #0c8f49;
    }


    /* Pink */

    .trim-Pink .stroke,
    .asset.trim-Pink .stroke {
        color: #ff1952;
    }


    /* Black */

    .trim-Black .stroke,
    .asset.trim-Black .stroke {
        color: #353535;
    }


    /* Fuscia */

    .trim-Fuscia .stroke,
    .asset.trim-Fuscia .stroke {
        color: #e31457;
    }


    /* Orange */

    .trim-Orange .stroke,
    .asset.trim-Orange .stroke {
        color: #ff3605;
    }


    /* Olive */

    .trim-Olive .stroke,
    .asset.trim-Olive .stroke {
        color: #7f9f36;
    }


    /* Umber */

    .trim-Umber .stroke,
    .asset.trim-Umber .stroke {
        color: #8d4530;
    }


    /* Ruby */

    .trim-Ruby .stroke,
    .asset.trim-Ruby .stroke {
        color: #e00073;
    }
}



















/*
    Media Queries
*/
@media only screen and (max-width: 1024px){
    
    .desktop-only {
        display: none !important;
    }
    
    .no-desktop {
        display: block;
    }
    
    .site-logo {
        width: 11em;
        height: 4em;
    }
    
    /*
        Issue fixes
    */

    /*
    Mobile bacakground/video fixed issue: background jumps when viewport resizes when chrome/safari toolbar appears/hides
    */

    .background-image.fixed.top {
    /*    top: -60px; */
    }
    
    iframe.full-screen-video {
        height: 38em;
    }
    
    iframe.full-size-map {
        height: 32em;
    }
    
    .tablet-small-padding {
        padding: .35em;
    }
    
    .tablet-no-padding {
        padding: 0;
    }
    
    .tablet-width-66 {
        width: 66%;
    }
    
    .width-20 {
        width: 25%;
    }
    
    .tablet-initial {
        width: initial;
        min-width: initial;
        max-width: initial;
        height: initial;
        min-height: initial;
        max-height: initial;
    }
    
    .tablet-width-initial {
        width: initial;
    }
    
    .modal {
        left: -40%;
        width: 80%;
    }

}



@media only screen and (max-width: 768px){
    
    .columns-three {
        column-count: 2;
        column-gap: .5em;
        -moz-column-count: 2;
        -moz-column-gap: .5em;
        -webkit-column-count: 2;
        -webkit-column-gap: .5em;
    }
    
    .headline,
    h2 {
        font-size: 1.85em;
    }

    .large-headline,
    h1 {
        font-size: 2.1em;
    }
    
    .giant-headline {
        font-size: 2.8em;
        
    }
    
    .largerer {
        font-size: 1.4em;
    }
    
    .quarter-width, .width-25 {
        width: 33%;
    }
    
    .third-width, .width-33 {
        width: 50%;
    }
    
    .tall-padding {
        padding: 2em 0;
    }
    
    .columns-two {
        column-count: 1;
        column-gap: 0;
        -moz-column-count: 1;
        -moz-column-gap: 0;
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
    }
    
    iframe.full-screen-video {
        height: 28em;
    }
    
    iframe.full-size-map {
        height: 25em;
    }
    
    table {
        display: block;
        overflow: auto;
        max-width: 100%;
    }
    
    th,
    td {
        max-width: 220px;
        min-width: 90px;
    }
    
}



@media only screen and (max-width: 736px){
    
    .inline-block.mobile-block {
        display: block;
        width: 100%;
    }

    .quarter-width,
    .width-25,
    .two-thirds-width,
    .width-66 {
        width: initial;
    }
    
    .left-50 {
        left: 0;
    }
    
    .half-width,
    .width-50,
    .columns-three .width-33 {
        width: 100%;
    }
    
    .half-width .half-width,
    .width-50 .width-50,
    .mobile-half-width,
    .mobile-width-50 {
        width: 50%;
    }
    
    .third-width,
    .width-33,
    .mobile-width-75 {
        width: 75%;
    }
    
    .mobile-width-100,
    .modal {
        width: 100%;
    }
    
    .width-20 {
        width: 50%;
    }
    
    .mobile-left-50 {
        left: 50%;
    }
    
    .large-headline,
    h1 {
        font-size: 1.55em;
        line-height: 1.2em;
    }
    
    .headline,
    h2 {
        font-size: 1.25em;
    }
    
    .giant-headline {
        font-size: 2em;
    }
    
    .larger {
        font-size: 1.11em;
    }
    
    .padding {
        padding: .8em;
    }
    
    .tall-padding {
        padding: 1em 0
    }
    
    .button-padding,
    a.call-to-action,
    input[type=submit],
    input[type=button],
    input[type=reset],
    button {
        padding: .8em 1.6em;
    }
    
    .master-wrap {
        max-width: 96%;
    }
    
    .gallery-item {
        max-width: 30em;
    }

    .gallery-item img,
    .tile .column-list-thumbnail,
    .tile.width-33 .column-list-thumbnail,
    .tile.width-50 .column-list-thumbnail {
        height: 13em;
    }
    
    .semi-transparent {
        opacity: .8;
    }
    
    .modal {
        left: -50%;
    }
    
    .modal-content {
        height: 30em;
    }
    
    /* Mobile only classes */
    
    .no-mobile,
    .tablet-only {
        display: none !important;
    }
    
    .mobile-only {
        display: block;
    }
    
    .mobile-initial {
        width: initial;
        left: initial;
        min-width: initial;
        max-width: initial;
        height: initial;
        min-height: initial;
        max-height: initial;
    }
    
    .mobile-padding {
        padding: .65em;
    }
    
    .mobile-no-padding {
        padding: 0;
    }
    
    .mobile-tiny-padding {
        padding: 1px;
    }
    
    .mobile-white-background {
        background-color: #fff;
    }
    
    .mobile-relative {
        position: relative;
    }
    
    .mobile-almost-transparent {
        opacity: .25;
    }
    
    .mobile-semi-transparent {
        opacity: .65;
    }
    
    .mobile-opaque {
        opacity: 1;
    }
    
    .mobile-square-corners {
        border-radius: 0;
    }
    
    .mobile-smaller {
        font-size: .89em;
    }
    
    .mobile-small {
        font-size: .95em;
    }
    
    .mobile-regular {
        font-size: 1.05em;
        line-height: 1.35em;
    }
    
    .mobile-large {
        font-size: 1.2em;
    }
    
    .mobile-medium {
        font-weight: 500;
    }
    
    .mobile-bold {
        font-weight: 700;
    }
    
    .mobile-center {
        text-align: center;
    }
    
    .mobile-align-right {
        text-align: right;
    }
    
    .mobile-over-saturate {
        filter: saturate(35) brightness(1.25) hue-rotate(180deg);
        -webkit-filter: saturate(35) brightness(1.25) hue-rotate(180deg);
        -moz-filter: saturate(35) brightness(1.25) hue-rotate(180deg);
        -ms-filter: saturate(35) brightness(1.25) hue-rotate(180deg);
    }
}


@media only screen and (max-width: 609px){
    
    .tall-padding {
        padding: 2em 0
    }
    
    .columns-three {
        column-count: 1;
        column-gap: 0;
        -moz-column-count: 1;
        -moz-column-gap: 0;
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
    }
    
    p > iframe,
    .width-66 p > iframe,
    .width-50 p > iframe,
    .width-50 p > iframe,
    .width-33 p > iframe,
    .columns-two p > iframe,
    .columns-three p > iframe {
        height: 11em;
    }
    
}


@media only screen and (max-width: 360px){
    
    .site-logo {
        width: 8em;
        height: 2.75em;
    }
    
    .site-logo .monash-shield {
        margin-right: 1%;
    }
    
    .site-logo .logo-text {
        width: 70%;
        background-position-y: 50%;
    }
    
    iframe.full-screen-video,
    iframe.full-size-map {
        height: 16em;
    }
    
    .gallery-item {
        max-width: 16em;
    }
    
    p > iframe,
    .width-66 p > iframe,
    .width-50 p > iframe,
    .width-50 p > iframe,
    .width-33 p > iframe,
    .columns-two p > iframe,
    .columns-three p > iframe,
    .gallery-item img {
        height: 10em;
    }
    
    .thin, h1 {
        font-weight: 200;
    }

}


@media only screen and (max-width: 320px){
    
    .larger {
        font-size: 1.08em;
    }
}